.admin-wrapper {
  @media screen and (max-width: 600px) {
    .content-wrapper {
      height: 100%; // スマホの場合予約投稿が見えなくなるのを防ぐ
    }
  }
}

.log-entry .log-entry__extras .activity-stream {
  margin-bottom: 10px;
}

.pawoo_report_target {
  .activity-stream {
    width: 490px;
  }

  .report_target_infomations {
    padding: 10px;

    .report_target_info {
      margin-bottom: 15px;
    }

    .report_target_detail {
      th, td {
        padding: 4px;
      }

      .report_target_type {
        white-space: nowrap;
      }
    }
  }

  .report_target_actions {
    white-space: nowrap;
    vertical-align: middle;

    label {
      display: block;
    }
  }
}
