$button-icon-scale-ration-on-pc: 0.85;

.compose-form__datetime {
  padding-top: 10px;
  margin-right: 10px;
}

.compose-form__datetime-input {
  border: 0;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

// 「Boostされました」のアイコンの色を変える
.status__prepend {
  i.fa-retweet {
    color: $ui-highlight-color;
  }
}

// 名前の部分を薄めに
.status {
  .display-name strong {
    opacity: 0.85;
  }
}

.status__content a.hashtag,
.status__content a span.ellipsis {
  color: $ui-primary-color;
}

// PCサイズのときはアイコンボタンを小さめに
.status {
  @media screen and (min-width: 631px) {
    .icon-button {
      font-size: 18px * $button-icon-scale-ration-on-pc !important;
      width: 23.1429px * $button-icon-scale-ration-on-pc  !important;
      height: 23.1429px * $button-icon-scale-ration-on-pc !important;

      & > i.fa-retweet {
        transform: rotate(360deg) scale($button-icon-scale-ration-on-pc) translateY(0.5px) !important; // 0.5px is magic number!!
      }

      &.active > i.fa-retweet {
        transform: rotate(0deg) scale($button-icon-scale-ration-on-pc) translateY(0.5px) !important;
      }
    }
  }
}

.status__wrapper.featured {
  background: rgba(lighten($ui-base-color, 4%), 0.9);
}

.announcements {
  @media screen and (max-width: 1024px) {
    padding: 0 10px;
  }

  li {
    display: flex;
    padding: 10px;
    color: $ui-base-color;
    background: darken($primary-text-color, 8%);
    border-radius: 4px;

    & + li {
      margin-top: 10px;
    }
  }
}

.announcements__icon {
  flex: 0 0 auto;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: solid 1px #929292;

  img {
    width: 100%;
    height: 100%;
  }
}

.announcements__body {
  width: 100%;

  p {
    padding-left: 5px;
    font-size: 12px;
    white-space: pre-line;
  }
}

.announcements__link {
  display: inline-block;
  color: $ui-base-color;
  text-decoration: none;
  padding: 1px 10px 0;
  border: solid 1px $ui-base-color;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 3px;
}

.announcements__body__dismiss {
  float: right;
}

.trend-tags {
  display: flex;
  background: $ui-base-color;
  flex-direction: column;
  min-height: 0;
  .suggestion-tags__name {
    font-size: 14px;
  }
  .suggestion-tags__description {
    font-size: 12px;
  }
}

.suggestion-tags__body li {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lighten($ui-base-color, 8%);
}

.suggestion-tags__content {
  flex: 1;
}

.suggestion-tags__name * {
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
  &:hover{
    color: rgba(#FFF, 0.9);
    text-decoration: underline;
  }
}

.suggestion-tags__description {
  position: relative;
  font-size: 14px;
  color: rgba(#FFF, 0.5);
  &.suggestion {
    padding-left: 18px;
    &:before{
      content: '';
      position: absolute;
      display: block;
      left: 0px;
      top: 2px;
      width: 14px;
      height: 14px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmdJREFUeNrsWo1xgjAUBq4DMAIbFCeoG0g3wAlqJxAnYAR0grJB7QTSCWADcYI0r/e8YnwJJHKYXH13MR4n8H35ee97LwYeGmMs5u2D2W+AMfa6xi+kzD1LAbuPbA6emzYL+Mfac9fWMAPMYQJe4DluDwL3tqcRntHyVmE7Yd8Kv5lj/9L5PoqZbmIAueNt7/t+pXszfyWQWPAGvjycikCDoLccdEOAihHMnCDbyIhiQAJXHhkxGBDx6nPUE+4LMYJDaD8OeA78priSAX/PykzCsWcAPEIgt9gnPIdaWgMHo5dADqNCvCAfUcsA0EQyQAdTAjU1xRrLzViUESSOugQKatQnIMDQK105BR0CKSGvVxMSOEqWbDaEwFxyUzYhgd99J5n1WklAsUmnJsAks6BMtgIhoKzuLG1S4lpJSJNLMYc+ubBAmy2upILvA/h9nxp9s0RcyoTel5QAjv7JFnksiUOVSk7nlkn8UJdAYnvSAvtAJpofKeVE+yJ0iUBDXItdIdBQ2Z4qj7aNwH5ogLOVwI7KDVxZQlDhoGZg7YIXAr2zlETl1AUC7+LmRdfZKzBtILDk4LfE9Vy19m0g0MrAQ37et3RMCWxVyYWmu5yJ4LHANRh8X5qYKe5JsIpx0EzcC1nZBotatW4OqlWdhhECZchbialet1h7DvmhZm00QleZGs2lzgx0jjlXVGlQ873JGMe6JucDCTaoYDQ4wt/Yt1QwEirXz9iHY3iCWw84ImxJB+wjH/h3BEqH8ZdAYOMwgU2A/nkphPgNRl3RXhVJxz00VHXh6tAvF1S9Xgj31vzd5keAAQDQejKAf+qEPAAAAABJRU5ErkJggg==');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 0.5;
    }
  }
}

.suggestion-tags__button {
  color: lighten($ui-base-color, 13%);
  background: lighten($ui-base-color, 33%);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 0 10px;
  height: 35px;
  margin-left: 6px;

  &:hover,
  &:focus {
    color: lighten($ui-base-color, 8%);
    background: lighten($ui-base-color, 26%);
  }
}

.scheduled_statuses__container {
  display: flex;
  flex-direction: column;
  height: 100%;

  #mastodon-scheduled-statuses {
    flex: 1;
    display: flex;

    .scheduled_statuses {
      flex: 1;
      display: flex;
      flex-direction: column;

      .scrollable {
        flex: 1;
        min-height: 0;
      }
    }
  }
}

.suggested_account_media {
  padding-left: 13px;
  margin-top: 5px;
  $media-height: 90px;
  height: $media-height;

  .media-gallery__item {
    max-height: $media-height;
  }

  .pawoo-video-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      position: absolute;
    }

    > .fa {
      position: absolute;
      font-size: 50px;
      color: lighten($ui-base-color, 13%);
      background-color: $white;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      opacity: 0.8;
    }
  }
}

.account__header {
  .account__header__oauth-authentications a {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.drawer__block{
  margin-bottom: 10px;
  background: lighten($ui-base-color, 13%);
}

.hashtag-editor {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba($ui-base-color, 0.1);
  font-size: 12px;

  .hastag-editor__input {
    padding-left: 0;
    font-size: 12px;
    border-radius: 0 0 4px;
  }

  .fa-hashtag {
    color: rgba($ui-base-color, 0.7);
    padding-left: 5px;
  }
}

.time-limit-dropdown {
  position: absolute;
  right: 3px;
  top: 30px;
}

.time-limit-dropdown__dropdown {
  position: absolute;
  background: $simple-background-color;
  box-shadow: 2px 4px 15px rgba($base-shadow-color, 0.4);
  border-radius: 4px;
  margin-left: 0;
  overflow: hidden;

  .time-limit-dropdown__header {
    padding: 10px;
    color: $ui-base-color;
    border-bottom: 1px solid lighten($ui-secondary-color, 4%);
  }

  .time-limit-dropdown__header_note {
    font-size: 10px;
    color: lighten($ui-base-color, 50%);
  }
}

.search-results__search-statuses {
  background: lighten($ui-base-color, 8%);
  color: $primary-text-color;
  display: block;
  margin: 10px;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: lighten($ui-base-color, 11%);
  }
}

.search-results__search-statuses-icon {
  display: inline-block;
  margin-right: 5px;
}

// 画像の表示位置を中央よりちょっと上にする
.media-gallery__item-thumbnail {
  &, img {
    object-position: 50% 20%;
  }
}

.drawer__inner {
  background: lighten($ui-base-color, 13%); // 象の上のギザギザ無効

  > .mastodon {
    background: url('../pawoo/images/pawoo-ui.png') no-repeat left bottom / contain;
  }
}

.pawoo__report-modal__select-type {
  display: flex;

  .pawoo__report-modal__select-type-title {
    flex: 1 1 auto;
    padding: 10px;
  }

  .pawoo__report-modal__select-type-toggle {
    flex: 0 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pawoo__status-check-box__status {
  margin: 10px 0 10px 10px;
  flex: 1;

  .media-gallery {
    max-width: 250px;
  }

  .status__content {
    padding: 0;
    white-space: normal;
  }

  .video-player {
    margin-top: 8px;
    max-width: 250px;
  }

  .media-gallery__item-thumbnail {
    cursor: default;
  }
}
