.simple_form {
  .omniauth {
    .label {
      display: inline-block;
      margin-top: 10px;
    }
    .label, label {
      opacity: 0.7;
    }
  }

  button, .button, .block-button {
    &.omniauth-pixiv {
      margin-top: 20px;
      height: 60px;
      line-height: 40px;
      text-transform: none;
    }
  }
}

.hint a {
  color: $ui-highlight-color;
}
