.landing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.landing-form {
  box-sizing: border-box;
  padding: 0 20px;

  > * {
    display: block;
  }

  > a {
    color: $classic-primary-color;
    margin-top: 4px;
  }

  > button {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
    text-transform: none;
    height: 54px;
    width: 100%;
  }
}

.landing-strip {
  flex: 1;
  margin: 0;
}
