.landing-strip {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.landing-form {
  box-sizing: border-box;
  flex: 1;
  padding: 0 20px;

  > * {
    display: block;
  }

  > a {
    color: $classic-primary-color;
    margin-top: 4px;

    @each $lang in $cjk-langs {
      &:lang(#{$lang}) {
        font-weight: 500;
      }
    }
  }

  > button {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
    text-transform: none;
    height: 54px;
    width: 100%;
  }
}

.landing-description {
  display: flex;
  align-items: center;

  flex: 2;
  min-width: 50%;
}

#pawoo-suggestion-strip {
  min-width: 200px;

  .pawoo-subcolumn__header {
    background: lighten($ui-base-color, 13%);
  }

  .pawoo-subcolumn--suggested-accounts__body,
  .suggestion-tags__body {
    background: lighten($ui-base-color, 4%);
  }

  .pawoo-subcolumn--suggested-accounts__body {
    height: 700px;
  }

  section {
    margin-bottom: 10px;
  }
}
