.fields-group
  = f.input :keyword, as: :string, wrapper: :with_label, hint: false

.fields-group
  = f.input :ignorecase, wrapper: :with_label

.fields-group
  = f.input :regexp, wrapper: :with_label
