.pawoo-onboarding-page {
  display: flex;
  flex: 1;
  flex-direction: column;

  .pawoo-onboarding-page__suggested-accounts {
    background: $classic-base-color;
    flex: 1;
    margin-bottom: 12px;

    // The below is required by:
    // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
    min-height: 0;
  }
}

.pawoo-single-column-onboarding {
  display: flex;
  flex-direction: column;

  .pawoo-single-column-onboarding__text {
    margin: 12px;
  }

  .pawoo-single-column-onboarding__ui {
    flex: 1;
  }
}

.pawoo-suggested-accounts {
  height: 100%;

  > .scrollable {
    height: 100%;

    .item-list {
      display: flex;
      flex-wrap: wrap;
      margin: -1px 0 0 -1px;
      overflow: hidden;

      > * {
        flex: 1 330px;
      }

      .account {
        border: 0 solid lighten($ui-base-color, 8%);
        border-left-width: 1px;
        border-top-width: 1px;
      }
    }
  }
}

.pawoo-suggested-accounts-column {
  display: flex;
  flex: 1;

  // The below is required by:
  // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
  min-height: 0;

  > * {
    flex: 1;
  }
}

.pawoo-suggested-accounts-column--page {
  display: flex;
  flex-direction: column;

  * {
    background: transparent;
    text-align: right;
  }

  img {
    flex: 1;
  }
}

.pawoo-suggested-accounts-page {
  flex: 1;

  .column-header,
  .column-header * {
    background: transparent;
  }

  .pawoo-suggested-accounts-page__suggested-accounts {
    flex: 1;

    // The below is required by:
    // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
    min-height: 0;
  }
}

.pawoo-getting-started-on-onboarding-page,
.pawoo-single-column-onboarding__ui,
.pawoo-suggested-accounts-column--page > img {
  object-fit: scale-down;
  object-position: bottom left;
  transform: scale(-1, 1);
}

.card .controls.pawoo-unauthenticated-follow {
  z-index: 3;

  .pawoo-unauthenticated-follow__button {
    display: flex;

    .pawoo-unauthenticated-follow__button__link,
    .pawoo-unauthenticated-follow__button__dropdown {
      display: block;
    }

    .pawoo-unauthenticated-follow__button__link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 8px;
    }

    .pawoo-unauthenticated-follow__button__dropdown {
      border-left: 2px solid lighten($ui-highlight-color, 13%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .pawoo-unauthenticated-follow__dropdown {
    display: none;
    margin-top: 8px;
    white-space: nowrap;
  }
}
