.pawoo-onboarding-page {
  display: flex;
  flex: 1;
  flex-direction: column;

  .pawoo-onboarding-page__suggested-accounts {
    background: $classic-base-color;
    flex: 1;
    margin-bottom: 12px;

    // The below is required by:
    // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
    min-height: 0;
  }
}

.pawoo-single-column-onboarding {
  display: flex;
  flex-direction: column;

  .pawoo-single-column-onboarding__text {
    margin: 12px;
  }

  .pawoo-single-column-onboarding__ui {
    flex: 1;
  }
}

.pawoo-subcolumn__header {
  display: flex;
  align-items: center;
  padding: 15px;
  background: lighten($ui-base-color, 4%);
  font-size: 16px;
}

.pawoo-subcolumn__header__icon {
  width: 20px;
  margin-right: 7px;
}

.pawoo-subcolumn__header__name {
  flex: 1;
}

.pawoo-subcolumn__header__description {
  color: rgba(#FFF, 0.6);
  font-size: 12px;
}

.pawoo-suggested-accounts {
  height: 100%;

  > .scrollable {
    height: 100%;

    .item-list {
      display: flex;
      flex-wrap: wrap;
      margin: -1px 0 0 -1px;
      overflow: hidden;

      > * {
        flex: 1 330px;
      }

      .account {
        border: 0 solid lighten($ui-base-color, 8%);
        border-left-width: 1px;
        border-top-width: 1px;
      }
    }
  }
}

.pawoo-suggested-accounts-column {
  display: flex;
  flex: 1;

  // The below is required by:
  // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
  min-height: 0;

  > * {
    flex: 1;
  }
}

.pawoo-suggested-accounts-column--page {
  display: flex;
  flex-direction: column;

  * {
    background: transparent;
    text-align: right;
  }

  img {
    flex: 1;
  }
}

.pawoo-suggested-accounts-page {
  flex: 1;

  .column-header,
  .column-header * {
    background: transparent;
  }

  .pawoo-suggested-accounts-page__suggested-accounts {
    flex: 1;

    // The below is required by:
    // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
    min-height: 0;
  }
}

.pawoo-getting-started-on-onboarding-page,
.pawoo-single-column-onboarding__ui,
.pawoo-suggested-accounts-column--page > img {
  object-fit: scale-down;
  object-position: bottom left;
  transform: scale(-1, 1);
}

.card .controls.pawoo-follow {
  z-index: 3;

  .pawoo-follow__button {
    display: flex;

    .pawoo-follow__button__link,
    .pawoo-follow__button__dropdown {
      display: block;
      margin: 0;
    }

    .pawoo-follow__button__link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 8px;
    }

    .pawoo-follow__button__dropdown {
      border-left: 2px solid lighten($ui-highlight-color, 13%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .pawoo-follow__dropdown {
    display: none;
    margin-top: 8px;
    right: 0;
    white-space: nowrap;
  }

  &.pawoo-follow--inactive > .pawoo-follow__button {
    .pawoo-follow__button__dropdown {
      border-left: 2px solid $ui-base-color;
    }

    > * {
      background: $ui-secondary-color;
      color: $ui-base-color;

      &:hover {
        background: $ui-primary-color;
      }
    }
  }
}

.pawoo-first-anniversary-banner {
  margin: 10px;

  img {
    display: block;
    width: 100%;
    border-radius: 4px;
  }
}

.pawoo-first-anniversary-column {
  flex: 1;
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ffd966;
  background-color: #000;
  background: url('../pawoo/images/first_anniversary/starry_sky.jpg') repeat;
  overflow: hidden;

  @keyframes pawoo-first-anniversary-intro {
    0% { opacity: 0; z-index: 1; }
    30% { opacity: 1; z-index: 1; }
    70% { opacity: 1; z-index: 1; }
    100% { opacity: 0; z-index: 1; }
  }

  @keyframes pawoo-first-anniversary-logo {
    0% { transform: scale(7); opacity: 1; z-index: 1; }
    70% { opacity: 1; z-index: 1; }
    100% { transform: scale(0.1); opacity: 0; z-index: 1; }
  }

  @keyframes pawoo-first-anniversary-scroll {
    0% { top: 100%; }
    100% { top: -2000000%; }
  }

  &__start {
    position: relative;
    width: 16em;
    font-size: 200%;
    font-weight: 400;
    margin: 20% auto;
    color: #4ee;
    opacity: 0;
    animation: pawoo-first-anniversary-intro 5s ease-in-out;
  }

  &__logo {
    position: absolute;
    height: 130px;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 8em;
    text-align: center;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #ffd966, 2px -2px 0 #ffd966, -2px 2px 0 #ffd966, 2px 2px 0 #ffd966;
    opacity: 0;
    animation: pawoo-first-anniversary-logo 7s;
    animation-delay: 7s;

    &__sub {
      display: block;
      font-size: 0.3em;
      letter-spacing: 0;
      line-height: 0.8em;
    }
  }

  &__titles {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -150%;
    font-size: 350%;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);

    &::after {
      position: absolute;
      content: ' ';
      left: 0;
      right: 0;
      top: 0;
      bottom: 60%;
      background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
      pointer-events: none;
    }
  }

  &__titlecontent {
    position: absolute;
    top: 100%;
    width: 100%;
    animation: pawoo-first-anniversary-scroll 750000s linear 4s;
    animation-delay: 12s;

    p {
      line-height: normal;
    }

    .status {
      border-bottom: 0px;
    }

    .status__content {
      font-size: 60px;

      .emojione {
        width: 90px;
        height: 90px;
      }
    }

    @media screen and (max-width: 900px) {
      .status__content {
        font-size: 40px;

        .emojione {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  &__margin {
    height: 300px;
  }

  &__mute-button {
    margin-top: 10px;
    margin-left: 10px;
  }

  &__gbm_toggle {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.pawoo-first-anniversary-header {
  display: inline-flex;
  width: calc(100% - 26px);
}
