.pawoo-onboarding-page {
  display: flex;
  flex: 1;
  flex-direction: column;

  .pawoo-onboarding-page__suggested-accounts {
    background: $classic-base-color;
    flex: 1;
    margin-bottom: 12px;

    // The below is required by:
    // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
    min-height: 0;
  }
}

.pawoo-single-column-onboarding {
  display: flex;
  flex-direction: column;

  .pawoo-single-column-onboarding__text {
    margin: 12px;
  }

  .pawoo-single-column-onboarding__ui {
    flex: 1;
  }
}

.pawoo-subcolumn__header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 15px;
  background: lighten($ui-base-color, 4%);
  font-size: 16px;
}

.pawoo-subcolumn__header__icon {
  width: 20px;
  margin-right: 7px;
}

.pawoo-subcolumn__header__name {
  flex: 1;
}

.pawoo-subcolumn__header__description {
  color: rgba(#FFF, 0.6);
  font-size: 12px;
}

.pawoo-suggested-accounts {
  height: 100%;

  > .scrollable {
    height: 100%;

    .item-list {
      display: flex;
      flex-wrap: wrap;
      margin: -1px 0 0 -1px;
      overflow: hidden;

      > * {
        flex: 1 330px;
      }

      .account {
        border: 0 solid lighten($ui-base-color, 8%);
        border-left-width: 1px;
        border-top-width: 1px;
      }

      > .load-more {
        flex: 100%;
      }

      > .mastodon_bridge {
        background: $ui-highlight-color;
        margin: 10px;
        border-radius: 4px;
        transition: all 100ms ease-in;
        flex: 100%;

        a {
          text-align: left;
          background: transparent;
          font-size: 15px;
          padding: 10px;

          &:hover {
            background: transparent;
          }
        }

        &:hover {
          background: lighten($ui-highlight-color, 20%);
          margin-right: 5px;
          border-radius: 4px;
          transition: all 200ms ease-out;
        }
      }
    }
  }
}

.pawoo-suggested-accounts-column {
  display: flex;
  flex: 1;

  // The below is required by:
  // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
  min-height: 0;

  > * {
    flex: 1;
  }
}

.pawoo-suggested-accounts-column--page {
  display: flex;
  flex-direction: column;

  .column-back-button {
    background: transparent;
    text-align: right;
  }

  img {
    flex: 1;
  }
}

.pawoo-suggested-accounts-page {
  flex: 1;

  .column-header,
  .column-header * {
    background: transparent;
  }

  .pawoo-suggested-accounts-page__suggested-accounts {
    flex: 1;

    // The below is required by:
    // Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
    min-height: 0;
  }
}

.pawoo-getting-started-on-onboarding-page,
.pawoo-single-column-onboarding__ui,
.pawoo-suggested-accounts-column--page > img {
  object-fit: scale-down;
  object-position: bottom left;
  transform: scale(-1, 1);
}

.controls.pawoo-follow {
  z-index: 3;

  .pawoo-follow__button {
    display: flex;

    .pawoo-follow__button__link,
    .pawoo-follow__button__dropdown {
      display: block;
      margin: 0;
    }

    .pawoo-follow__button__link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 8px;
    }

    .pawoo-follow__button__dropdown {
      border-left: 2px solid lighten($ui-highlight-color, 13%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .pawoo-follow__dropdown {
    display: none;
    margin-top: 8px;
    right: 0;
    white-space: nowrap;
  }

  &.pawoo-follow--inactive > .pawoo-follow__button {
    .pawoo-follow__button__dropdown {
      border-left: 2px solid $ui-base-color;
    }

    > * {
      background: $ui-secondary-color;
      color: $ui-base-color;

      &:hover {
        background: $ui-primary-color;
      }
    }
  }
}

.pawoo-navigation-column {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin-top: 5px;

  .pawoo-navigation-column__subcolumns {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    overflow: auto;

    > * {
      position: relative;
      margin: 5px 0;
      transition: flex 0.1s;
      height: 68px;

      > * {
        padding: 0;

        > * {
        padding: 0;
        }
      }
    }

    > * .pawoo-navigation-column__subcolumns__body {
      height: 100%;

      > * {
        height: 100%;
      }
    }

    > .pawoo-navigation-column__subcolumns__expanded {
      flex: 1;
      min-height: 100px;

      .column-header__wrapper {
        display: flex;
        flex-direction: column;
        max-height: 100%;
      }
    }

    .pawoo-navigation-column__subcolumns__button {
      bottom: 0;
      box-sizing: border-box;
      padding: 0 5px;
      position: absolute;
      width: 100%;

      > * {
        background: lighten($ui-base-color, 8%);
        border: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        color: $primary-text-color;
        height: 20px;
        width: 100%;

        &:hover {
          background: lighten($ui-base-color, 11%);
        }
      }
    }
  }
}

.pawoo-followers-you-follow {
  padding: 10px 10px;

  &__account-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    position: relative;
    max-height: 88px;
    overflow: hidden;

    .multi-column {
      padding: 4px 4px 0 0;

      .account__avatar-wrapper {
        padding: 0;
        margin: 0;
      }
    }
  }

  p {
    font-weight: bold;
    margin-bottom: 5px;
    color: $classic-primary-color;
  }
}

.pawoo-gallery-index {
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  li {
    font-size: 16px;
    margin-top: 10px;
  }

  p {
    margin-bottom: 5px;
  }

  a {
    color: $highlight-text-color;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
      color: $highlight-text-color;
    }
  }

  &__header-image {
    max-height: 250px;
    max-width: 100%;
  }
}

.pawoo-gallery {
  width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1220px) {
    width: 800px;
  }

  @media screen and (max-width: 820px) {
    width: 600px;
  }

  @media screen and (max-width: 620px) {
    width: 100%;
  }

  &__breadcrumb {
    margin-bottom: 10px;
  }

  &__header-image {
    max-height: 250px;
    max-width: 50%;
    margin-bottom: 10px;

    @media screen and (max-width: 620px) {
      max-width: 100%;
    }
  }

  &__description {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba($ui-base-lighter-color, .6);
    margin-bottom: 10px;

    @media screen and (max-width: 620px) {
      flex-flow: column nowrap;
    }

    &-text {
      margin-left: 20px;
      margin-bottom: 10px;

      @media screen and (max-width: 620px) {
        margin-top: 10px;
        margin-left: 0;
      }

      p {
        margin-bottom: 10px;
      }
    }

    a {
      color: $highlight-text-color;
      font-weight: 500;

      &:hover,
      &:active,
      &:focus {
        color: $highlight-text-color;
      }
    }
  }
}

.pawoo-gallery-item {
  width: 400px;

  @media screen and (max-width: 820px) {
    width: 300px;
  }

  @media screen and (max-width: 620px) {
    width: 100%;
  }

  &__wrapper {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    background: lighten($ui-base-color, 4%);
  }

  &__header {
    display: flex;

    > .account {
      flex: 1;
      padding: 0;
      border-bottom: none;

      .account__avatar-wrapper {
        margin-left: 0;
      }
    }
  }

  &__actions {
    height: 24px;
  }

  .media-gallery__item  ~ .media-gallery__item {
    margin-top: 5px;
  }

  .video-player {
    margin-top: 8px;
  }

  .status__content {
    margin-top: 5px;
  }
}
