.pawoo-extension-account__strip {
  display: flex;
  flex-direction: column;

  .pawoo-extension-account__strip__extra {
    flex: 1;
  }
}

@media screen and (max-width: 1024px) {
  .pawoo-extension-account__strip__extra {
    display: none;
  }
}
