#mastodon {
  background: darken($ui-base-color, 7%);
}

.column {
  flex: 1 0 330px;
}

.ui {
  &.pawoo-extension-ui--multi-column {
    max-width: 1920px;
  }

  &:not(.pawoo-extension-ui--multi-column) .column {
    max-width: 700px;
  }
}

.pawoo-extension-drawer__tab--unread,
.pawoo-extension-tabs-bar__link--unread {
  border-bottom: 2px solid $gold-star;
  color: $gold-star;
}

.pawoo-extension-media-gallery__background {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-strip.pawoo-extension-landing-strip--embedded {
  flex: none;
  flex-direction: column;
  margin: 10px;

  > p {
    margin-bottom: 10px;
  }
}

.pawoo-extension-standalone-community {
  display: inline-block;

  > img {
    margin-right: 16px;
    vertical-align: bottom;
    width: 32px;
  }
}
