.pawoo-extension-two-columns {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  margin: 40px auto 0;

  > * {
    margin: 0 10px;
    max-width: 700px;
    width: 700px;
  }

  > *:first-child {
    min-width: 0;
    margin-bottom: auto;
  }

  > *:last-child {
    flex: 1;
  }

  @media screen and (max-width: 740px) {
    margin: 0;

    > * {
      margin: 0;
    }
  }
}
