%p.main ＼ Pawooの特徴 ／

%p.title 一度に500文字までのテキスト・画像・動画を投稿できる

= image_tag asset_pack_path('about/submit-form.png'), width: '100%'

%p.title Pawooにはたくさんのユーザーがいて、わいわいしてる場を楽しめる
%p ローカルタイムラインを見れば、Pawoo内での会話がすべて流れてくるので、フォローしている人がいなくても使い始めから楽しい！

%p.title 投稿時に公開範囲を制限できる
%p 例えば、Pawoo上のユーザーに広く見てもらいたいイラストと、フォロワーのみに見せたいイラストを分けて投稿することができる！

%p.title Pawooだけの機能「メディアタイムライン」がとっても面白い
%p
  投稿された画像や動画だけが一覧で見れる「メディアタイムライン」機能が追加されています。
  メディアタイムラインには常に多数のイラストが登場し、クリエイター間での交流も盛んに行われています。

%p.title pixivアカウントと連携できる
%p 創作活動が好きなpixivユーザーがもっと気軽に楽しく参加できるよう、pixivアカウントとの連携し、pixivの作品をPawooでシェアできる機能を追加しています。
